.widget.windows-rdp {
  margin: 0 5px;

  .windows-rdp-button {
    font-size: 13px;
  }
}

.modal-win-10-rdp {
  .win-10-rdp-wrapper {
    margin-top: 6px;
    background: $background;
    border-radius: 12px;
    padding: 20px 22px;

    .start {
      font-size: 26px;
      padding: 10px 17px 10px 20px;
      margin-right: 5px;
    }

    .shutdown {
      padding: 14px 21px 14px 18px;
      font-size: 20px;
      margin-left: 5px;
    }

    button {
      background: $black;
      &:hover {
        background: $black;
      }
    }
  }
}