@import './vars';

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: figtree, sans-serif;
}

.left-bar,
.center-bar,
.right-bar {
  background-color: $background;
  color: $foreground;
  font-weight: bold;
}

.section {
  background-color: $background;
  //border-radius: 40px;
  padding: 2px 0px;
  //margin: 2px 12px;
}

.left-bar,
.right-bar {
  .section {
    //margin-top: 6px;
  }
}

.widget {
  button {
    font-size: 15px;
    padding: 2px 8px;
  }
}

.spacer {
  color: $dark-gray;
  padding: 2px 6px;
}

.center-bar .column.end .spacer {
  padding-left: 10px;
  padding-right: 8px;
}

@import './widgets/workspaces/workspaces';
@import './widgets/launcher/launcher';
@import './widgets/calendar/date_time';
@import './widgets/files/files';
@import './widgets/terminal/terminal';
@import './widgets/windows/windows';
@import './widgets/time_tracking/time_tracking';
@import './widgets/audio/audio';
@import './widgets/screenshot/screenshot';
@import './widgets/xkill/xkill';
@import './widgets/keyboard/keyboard';
@import './widgets/battery/battery';
@import './widgets/resources_monitor/resources_monitor';
@import './widgets/power_menu/power_menu';
