/* scheme: "Ayu Mirage" */

$base00: #171B24;
$base01: #1F2430;
$base02: #242936;
$base03: #707A8C;
$base04: #8A9199;
$base05: #CCCAC2;
$base06: #D9D7CE;
$base07: #F3F4F5;
$base08: #F28779;
$base09: #FFAD66;
$base0A: #FFD173;
$base0B: #D5FF80;
$base0C: #95E6CB;
$base0D: #5CCFE6;
$base0E: #D4BFFF;
$base0F: #F29E74;

//$base00: #0F1419;
//$base01: #131721;
//$base02: #272D38;
//$base03: #3E4B59;
//$base04: #BFBDB6;
//$base05: #E6E1CF;
//$base06: #E6E1CF;
//$base07: #F3F4F5;
//$base08: #F07178;
//$base09: #FF8F40;
//$base0A: #FFB454;
//$base0B: #B8CC52;
//$base0C: #95E6CB;
//$base0D: #59C2FF;
//$base0E: #D2A6FF;
//$base0F: #E6B673;
