.widget.launcher {
  //padding: 0;
  margin-left: 18px;
  margin-right: 12px;

  .launcher-button {
    color: $cyan;
    //background-color: $black;
    //padding: 0 28px;
    //transition: all 0.2s ease-in-out;

    //&:hover {
    //  background-color: $cyan;
    //  color: $background;
    //}
  }
}