.date-time {
  color: $foreground;
  padding: 0 6px;
}

.date-time .time {
  font-size: 0.85rem;

}

.date-time .date {
  font-size: 0.72rem;
  margin-top: -5px;
}

.modal-calendar {
  .calendar-wrapper {
    margin-top: 6px;
    background: $background;
    border-radius: 12px;
    padding: 22px;
  }
}