.screencapture {
  //background-color: rgba($base02, 0.7);
  background-color: $base02;
  border: 1px solid lighten($base02, 4);
  border-radius: 50px;

  & > * {
    border: 0;
    background-color: transparent;
  }

}