* {
    font-family: figtree, sans-serif;
    font-weight: 600;
}

#waybar {
    background: none;
    /*padding-top: 6px;*/
}

#tray,
#clock {
    /*margin-top: 6px;*/
    /*background: #1A1B26;*/
    padding: 4px 12px;
    /*border-radius: 34px;*/
    font-size: 13px;
    color: #A9B1D6;
}

menu, tooltip {
    background-color: #1A1B26;
    /*border-radius: 8px;*/
    font-size: 13px;
    color: #A9B1D6;
}

tooltip * {
    padding: 2px;
}
